extends layout

block content
     section#todo
      header#header
       h1 todos
       form( id='todo-form')
        input(id='new-todo', placeholder="What needs to be done?", name='title')
      section#main
       input(id="toggle-all", type="checkbox")
       ul#todo-list
      footer#footer